@model CreateFormModel
<script src="~/lib/jquery/jquery.js"></script>
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/jquery/jquery.slim.js"></script>
<script src="~/lib/jquery/jquery.slim.min.js"></script>
<link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/twitter-bootstrap/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/lib/twitter-bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet" />
<script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.js"></script>
<script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/twitter-bootstrap/js/bootstrap.esm.js"></script>
<script src="~/lib/twitter-bootstrap/js/bootstrap.esm.min.js"></script>
<script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
<script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<form asp-action="CreateForm" asp-controller="Form" method="post">
    <div class="container">

        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Create New Form </button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Create Form</h4>
                    </div>
                    <div class="modal-body">
                        <div class="md-form mb-5">
                            <i class="fas fa-user prefix grey-text"></i>
                            <input type="text" class="form-control validate" asp-for="@Model.Name">
                            <label data-error="wrong" data-success="right" for="orangeForm-name">Form Name</label>
                        </div>
                        <div class="md-form mb-5">
                            <i class="fas fa-envelope prefix grey-text"></i>
                            <input type="text" class="form-control validate" asp-for="@Model.Description">
                            <label data-error="wrong" data-success="right" for="orangeForm-email">Form Description</label>
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button>Save</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</form>