@model SignInUserModel;
@{
    ViewData["Title"] = "Giris Yap";
    Layout = "_Layout";
}
<script src="~/lib/jquery/jquery.js"></script>
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/jquery/jquery.slim.js"></script>
<script src="~/lib/jquery/jquery.slim.min.js"></script>
<link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/twitter-bootstrap/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/lib/twitter-bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet" />

<form asp-action="SignIn" asp-controller="Home">
    <div class="form-group">
        <label for="exampleInputEmail1">Username</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Username" asp-for="@Model.UserName">
    </div>
    <br />
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" asp-for="@Model.Password">
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Giris Yap</button>
</form>